openapi: 3.0.3
info:
  title: RingCentral Events Bank Questions Tickets API
  description: The RingCentral Events External API provides programmatic access to manage organizations, events, sessions, stages, booths, registrations, tickets, magic links, reports, schedule items, tags, and data subscriptions. Authentication uses OAuth 2.0 with client credentials. API access is restricted to the Enterprise plan.
  version: 1.0.0
  contact:
    name: RingCentral Events Developer Support
    url: https://developer.events.ringcentral.com/
  license:
    name: Proprietary
  termsOfService: https://developer.events.ringcentral.com/external-api
servers:
- url: https://api.events.ringcentral.com
  description: RingCentral Events Production API
tags:
- name: Tickets
  description: Ticket management
paths:
  /v1/events/{eventId}/tickets:
    get:
      summary: Retrieve Ticket Types for an Event
      operationId: Retrieve_Ticket_Types_for_an_Event
      description: Retrieve Ticket Types for an Event
      tags:
      - Tickets
      parameters:
      - name: eventId
        in: path
        required: true
        schema:
          type: string
        description: eventId identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      security:
      - oauth2:
        - read
  /v1/tickets/{ticketId}:
    get:
      summary: Retrieve Ticket Type Details
      operationId: Retrieve_Ticket_Type_Details
      description: Retrieve Ticket Type Details
      tags:
      - Tickets
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: string
        description: ticketId identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      security:
      - oauth2:
        - read
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow
      flows:
        clientCredentials:
          tokenUrl: https://api.events.ringcentral.com/v1/auth/token
          scopes:
            read: Read access to resources
            write: Write access to resources
externalDocs:
  description: RingCentral Events API Documentation
  url: https://developer.events.ringcentral.com/external-api
